{% extends 'layouts/base_new.html' %}

{% block title %}Game Releases{% endblock %}

{% block content %}
{% include "fragments/generic_pagination.html" %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-3">
    {% for game in game_releases %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ game.name }} (<a href="https://github.com/veesix-networks/traffix/issues/{{ game.github_issue_id}}" target="_blank">#{{ game.github_issue_id }}</a>)</h5>
                <div class="card-text">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row">Size (estimated)</th>
                                <td>{% if game.size %}{{ game.size }}GB{% else %}N/A{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Release Date (estimated)</th>
                                <td>{{ game.date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if game.image %}
                <div class="image-container" style="width: 100%; height: 200px; overflow: hidden; position: relative;">
                    <a href="{{ game.source }}" target="_blank">
                        <img src="{{ game.image }}" class="card-img-top" style="width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    </a>
                </div>
                {% endif %}
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}