{% extends 'layouts/base_new.html' %}

{% block title %}Home Page{% endblock %}

{% block css %}
<link href="{{ url_for('static', path='plugins/jvectormap-next/jquery-jvectormap.css') }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='plugins/jvectormap-next/jquery-jvectormap.min.js') }}"></script>
<script src="{{ url_for('static', path='plugins/jvectormap-content/world-mill.js') }}"></script>
<script src="{{ url_for('static', path='plugins/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', path='js/demo/dashboard.demo.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
    {% include "fragments/top_5_upcoming_events.html" %}
    {% include "fragments/activity_log.html" %}
    {% include "fragments/traffic_analytics.html" %}
</div>
{% endblock %}