<!-- BEGIN col-6 -->
<div class="col-xl-12">
    <!-- BEGIN card -->
    <div class="card mb-6">
        <!-- BEGIN card-body -->
        <div class="card-body">
            <!-- BEGIN title -->
            <div class="d-flex fw-bold small mb-3">
                <span class="flex-grow-1">TRAFFIC ANALYTICS - PLACEHOLDER (Future plans are to introduce a weathermap based on multiple ISPs and CDNs)</span>
                <a href="#" data-toggle="card-expand" class="text-inverse text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
            </div>
            <!-- END title -->
            <!-- BEGIN map -->
            <div class="ratio ratio-21x9 mb-3">
                <div id="world-map" class="jvectormap-without-padding"></div>
            </div>
            <!-- END map -->
            <!-- BEGIN row -->
            <div class="row gx-4">
                <!-- BEGIN col-6 -->
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <table class="w-100 small mb-0 text-truncate text-inverse text-opacity-60">
                        <thead>
                            <tr class="text-inverse text-opacity-75">
                                <th class="w-50">COUNTRY</th>
                                <th class="w-25 text-end">VISITS</th>
                                <th class="w-25 text-end">PCT%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FRANCE</td>
                                <td class="text-end">13,849</td>
                                <td class="text-end">40.79%</td>
                            </tr>
                            <tr>
                                <td>SPAIN</td>
                                <td class="text-end">3,216</td>
                                <td class="text-end">9.79%</td>
                            </tr>
                            <tr class="text-theme fw-bold">
                                <td>MEXICO</td>
                                <td class="text-end">1,398</td>
                                <td class="text-end">4.26%</td>
                            </tr>
                            <tr>
                                <td>UNITED STATES</td>
                                <td class="text-end">1,090</td>
                                <td class="text-end">3.32%</td>
                            </tr>
                            <tr>
                                <td>BELGIUM</td>
                                <td class="text-end">1,045</td>
                                <td class="text-end">3.18%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-lg-6">
                    <!-- BEGIN card -->
                    <div class="card">
                        <!-- BEGIN card-body -->
                        <div class="card-body py-2 flex-1">
                            <div class="d-flex align-items-center">
                                <div class="w-70px">
                                    <div data-render="apexchart" data-type="donut" data-height="70"></div>
                                </div>
                                <div class="flex-1 ps-2">
                                    <table class="w-100 small mb-0 text-inverse text-opacity-60">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="w-6px h-6px rounded-pill me-2 bg-theme bg-opacity-95"></div> FEED
                                                    </div>
                                                </td>
                                                <td class="text-end">25.70%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="w-6px h-6px rounded-pill me-2 bg-theme bg-opacity-75"></div> ORGANIC
                                                    </div>
                                                </td>
                                                <td class="text-end">24.30%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="w-6px h-6px rounded-pill me-2 bg-theme bg-opacity-55"></div> REFERRAL
                                                    </div>
                                                </td>
                                                <td class="text-end">23.05%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="w-6px h-6px rounded-pill me-2 bg-theme bg-opacity-35"></div> DIRECT
                                                    </div>
                                                </td>
                                                <td class="text-end">14.85%</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="w-6px h-6px rounded-pill me-2 bg-theme bg-opacity-15"></div> EMAIL
                                                    </div>
                                                </td>
                                                <td class="text-end">7.35%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END card-body -->
                        
                        <!-- BEGIN card-arrow -->
                        <div class="card-arrow m-0">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                        <!-- END card-arrow -->
                    </div>
                    <!-- END card -->
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END card-body -->