name: Update datasources from open events

on:
  schedule:
    - cron: "*/10 * * * *"
  push:
    branches:
      - main

jobs:
  update-issues:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml pydantic==2.7.4

      - name: Fetch and update issues
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python issue_scraper.py

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add datastore
          git commit -m "Update YAML datastores for new events [skip ci]" || echo "No changes to commit"
      
      - name: Push changes
        env:
          REPO_URL: https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/veesix-networks/traffix.git
        run: |
          git push $REPO_URL HEAD:main